/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header .logo img {
    width: 80px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 90px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.cart-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

main {
    padding: 20px;
}

.hero {
    background: url('../img/devi_tloo.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #444;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.870em;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px; /* Maksymalna szerokość stopki */
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.footer-section {
    margin: 5px;
}

.footer-section h2 {
    margin-bottom: 3px;
}

.footer-section p {
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
}

.footer-right {
    text-align: right;
    width: 30%;
}

.footer-right p {
    margin-bottom: 10px;
}

.footer-center {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* width: 30%; */
    position: relative;
    left: 43%;
    transform: translate(-50%, -50%);
    margin: 100px;
    align-self: center;

}

.edtit-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

podziekowanie {
    font-size: 30px;
    text-align: center;
    padding: 60px;
}
